SECRET_KEY=change-me-in-production
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=prosight
POSTGRES_USER=prosight
POSTGRES_PASSWORD=prosight
POSTGRES_HOST=db
POSTGRES_PORT=5432

LOCUS_DB_NAME=pfmegrnargs
LOCUS_DB_USER=reader
LOCUS_DB_PASSWORD=NWDMCE5xdipIjRrp
LOCUS_DB_HOST=hh-pgsql-public.ebi.ac.uk
LOCUS_DB_PORT=5432
LOCUS_DB_OPTIONS=-c search_path=rnacen,public
LOCUS_DATABASE_ALIAS=rnacentral

LIMITED_LOCUS_REGION_IDS=86118093,86696489,88186467
LIMITED_LOCUS_USERNAMES=limited
